body {
    background-image: url("../images/coffeebg.jpg");
    background-size: cover; 
}

div {
    background-color: #fff3ed;
    color: #3d221c;
}

#left-display {
    float: left;
    /* margin-right: 20px; */
}

#right-display {
    float: right;
}